Pillow
opencv-python
matplotlib
numpy
pandas
seaborn
langgraph
langchain-community
langchain-core
pydantic
google-genai
python-dotenv
huggingface_hub
rembg[gpu]
requests
gradio_client
groq
gTTS
typing-extensions
beautifulsoup4
scikit-learn
xgboost
sentence-transformers
pytrends
joblib