fastapi
uvicorn[standard]
python-multipart
pydantic
typing-extensions
google-genai
groq
langgraph
langchain-core
langchain-community
Pillow
opencv-python-headless
rembg
imageio-ffmpeg
spandrel
catboost
scikit-learn
pandas
numpy
joblib
python-dotenv
requests
gradio_client
beautifulsoup4
gTTS
pytrends